/*画面スタイル*/
body{
  font-family: "Note Sans JP","sans-serif";
  margin: 0;
  min-width: 1000px;
  text-align: center;
  background-color: white;
}
.backcolor{
  background: linear-gradient( #73BDD2, #55c4bb)
}

/*haederスタイル*/
.block-haeder{
  text-align: left;
}

.menu-list  {
  list-style: none;
  display: inline-block;
  margin-bottom: 10%;
}

.menu-list li{
  display: inline;
  float: left;
  font-size: 12px;
  padding: 0 10px;
  margin: 0px;
}

  /*リンクの下線＆カラー変更用*/
.menu-list a{
   text-decoration:none;
   border-bottom: 3px solid #6aedc8;
}
.menu-list a:link{
color:#ffffff;
}
.menu-list a:visited{
  color:#ffffff;
}
.menu-list a:hover{
  color: green;
}

/*homeのスタイル*/
.home-box{
  display: flex;
  margin-bottom: 200px;
  width: 100%;
  justify-content: center;
}

.home-icon img{
  width: 300px ;
  padding: 10px;
  border: 2px solid #ffffff;
}

.home-text{
  margin: 100px 100px;
  color: #ffffff;
}

.home-text H1{
  border-bottom: 3px solid #6aedc8;
  font-weight: normal;
  letter-spacing: 5px;
}
.home-text p{
  letter-spacing: 2px;
}

/*myprofileスタイル*/
.section1{ 
  padding-bottom: calc(10vw + 10px);  
    position: relative;
    overflow: hidden;
    background-color:#ffffff;}/* .section1の背景 */ 
.section1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 50vw solid #53BD9D;  /* 三角を白にする */ 
  border-left: 1000vw solid transparent;
}

.about-box{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 100px;
}

.about-box h2{
  letter-spacing: 4px;
  color: gray;
}
.about-box img{
  width: 300px;
}

.icon-list{
  list-style: none;
  width: 100%;
  max-width: 247px;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list li{
  margin-right: 20px;
}

.icon-list li:last-child{
  margin-right: 0;
}

.icon-list img{
  width: 30px;
}

/*projectsのスタイル*/

.section2{ 
  padding-bottom: calc(10vw + 10px);  
    position: relative;
    overflow: hidden;
    background-color:#53BD9D;}/* .section1の背景 */ 

.section2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20vw solid #fff;  /* 三角を白にする */ 
  border-right: 150vw solid transparent;
}

.works-box{
  color:#ffffff;
}
.works-box img{
  width: 300px;
}

.works-list{
  list-style: none;
  width: 100%;
  max-width: 1076px;
  margin: 10px 10% 200px 10%;
  text-align: center;
  display: flex;
    align-items: flex-start;
    flex-direction: row;
}


.works-list li{
  display: inline-block;
  padding: 20px;
  width: 100%;
  max-width: 348px;
  text-align: left;
  margin-right:100px
}
.works-list li:last-child{
  margin-right: 0;
}

.works-list img{
  border: 1px solid #000;
}

.works-list li .link a{
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 10px;
  text-decoration: none;
  border-style:solid ;
}
.works-list a:visited{
  color:#ffffff;}

/*Contactのスタイル*/
.contct-box{
  color: gray;
}
.contct-box img{
  width: 300px;
}
.contct-list{
  list-style: none;
  width: 100%;
  max-width: 1076px;
  margin: 100px auto;
  padding-left: 0;
  text-align: center;
}
.contct-list img{
  width: 50px;
}
.contct-list li{
  display: inline-block;
  width: 100%;
  max-width: 348px;
}
.contct-list li{
    padding:  30px 0px;
    margin: 0px 30px;
    background: #f4f4f4;
    border-top: solid 6px #53BD9D;
}

.text{
  display:inline-block;
  border-bottom: 3px solid  gray;
}

/*footerのスタイル*/
.footer-box{
  color: gray;
  background-color:#f4f4f4;
}
.footer-box p{
  font-size: 10px;
  font-weight: initial;
}


/*レスポンシブスマホ*/
@media screen  and (max-width: 768px){
/*幅合わせ*/
  body{
  max-width: 100%;
}
.home-box{
  max-width: 100%;
}
.home-icon img{
  max-width: 100%;
}
.about-box .about-box img{
  max-width: 100%;
}
.icon-list .icon-list img{
  max-width: 100%;
}
.works-box img{
  max-width: 100%;
}
.works-list .works-list li{
  max-width: 100%;
}
.contct-box img{
  max-width: 100%;
}
.contct-list .contct-list img .contct-list li{
  max-width: 100%;
}

/*homecss*/
.home-box{
  display: block;
  padding-bottom: 50px;
  margin-bottom: 100px;
}
.home-icon img{
  width: 500px ;
}
.home-text H1{
  font-size: 80px;
}
.home-text p{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: lighter;
}

/*aboutcss*/
.about-box{
  padding: 0;
  font-size: 30px;
  max-width: 100%;
}
.about-box img{
  width: 300px;
}
.icon-list li{
  margin-right: 50px;
  margin-bottom: 100px;
}
.icon-list img{
  width: 60px;
}
.section1::before {
  border-bottom: 200vw solid #53BD9D;
}

/*projectcss*/
.section2::before {
  border-bottom: 20vw solid #fff;
}
.works-box img{
  width: 300px;
}
.works-box h2{
  font-size: 50px;
}
.works-list {
  margin: 0;
}
.works-list li{
  display: block;
  width: 100%;
  margin: auto;
  padding: 50px;
}
.works-list li:last-child{
  margin-right: auto;
}

.works-list li .link a{
  padding: 10px 30px;
  margin-right: 30px;
  font-size: 15px;
}

/*contctcss*/
.contct-box h2{
  font-size: 50px;
}

.contct-list li{
  display: block;
  margin: 0 auto;
  padding: 50px auto;
}
.contct-list li{
  margin-top: 100px;
}

