/*画面スタイル*/
body{
  font-family: "Note Sans JP","sans-serif";
  margin: 0;
  min-width: 1076px;
  text-align: center;
}
.backcolor{
  background: linear-gradient( #73BDD2, #55c4bb)
}

/*haederスタイル*/
.block-haeder{
  text-align: left;
}
.menu-list  {
  list-style: none;
  display: inline-block;
  margin-bottom: 10%;
}
.menu-list li{
  display: inline;
  float: left;
  font-size: 12px;
  padding: 0 10px;
  margin: 0px;
}
  /*リンクの下線＆カラー変更用*/
.menu-list a{
   text-decoration:none;
   border-bottom: 3px solid #6aedc8;
}
.menu-list a:link{
color:#ffffff;
}
.menu-list a:visited{
  color:#ffffff;
}
.menu-list a:hover{
  color: green;
}
/*homeのスタイル*/
.home-box{
  display: inline-flex;
  margin-bottom: 200px;
}
.home-icon img{
  padding: 10px;
  border: 2px solid #ffffff;
}
.home-text{
  margin: 5% 100px;
  color: #ffffff;
}

.home-text H1{
  border-bottom: solid #6aedc8;
  font-weight: normal;
  letter-spacing: 5px;
}
.home-text p{
  letter-spacing: 2px;
}

/*myprofileデザイン*/
.about-box{
  width: 100%;
  max-width: 348px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.icon-list{
  list-style: none;
  width: 100%;
  max-width: 247px;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-list li{
  margin-right: 20px;
}
.icon-list li:last-child{
  margin-right: 0;
}