/*画面スタイル*/
body{
  font-family: "Note Sans JP","sans-serif";
  margin: 0;
  min-width: 1076px;
}

/*haederスタイル*/

.menu-list  {
  list-style: none;
}
.menu-list li{
  display: inline;
  float: left;
  font-size: 12px;
  padding: 0 10px;
  margin: 0px;
}
  /*リンクの下線＆カラー変更用*/
.menu-list a{
  color: #000;
   text-decoration:none;
   border-bottom: 3px solid #6aedc8;
}
.menu-list a:link{
color: aqua;
}
.menu-list a:visited{
  color:aqua;
}
.menu-list a:hover{
  color: green;
}